In [1]:
import pandas as pd
import numpy as np

In [11]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry',index_col=False)

In [12]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [13]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [14]:
drinks.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB

In [17]:
drinks.memory_usage(deep=True).sum()

31224

In [18]:
sorted(drinks.continent.unique())

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [19]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [20]:
drinks['continent'] = drinks.continent.astype('category')

In [22]:
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [23]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [25]:
drinks.continent.cat.categories

Index(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [29]:
df = pd.DataFrame({"ID":[0,1,2,3], "quality":['good', 'very good', 'good', 'excellent']})

In [30]:
df

   ID    quality
0   0       good
1   1  very good
2   2       good
3   3  excellent

In [31]:
df['quality']

0         good
1    very good
2         good
3    excellent
Name: quality, dtype: object

In [33]:
df['quality'] = df.quality.astype('category', categories = ['good', 'very good', 'exellent'], ordered = True)

TypeError: astype() got an unexpected keyword argument 'categories'

In [35]:
from pandas.api.types import CategoricalDtype

In [43]:
df['quality'] = df.quality.astype(CategoricalDtype(categories=['good', 'very good', 'excellent'], ordered=True))

In [44]:
df.quality

0         good
1    very good
2         good
3          NaN
Name: quality, dtype: category
Categories (3, object): ['good' < 'very good' < 'excellent']

In [42]:
df.sort_values('quality')

   ID    quality
0   0       good
2   2       good
1   1  very good
3   3        NaN

In [45]:
df['quality'] = df.quality.astype(CategoricalDtype(categories=['good', 'very good', 'excellent'], ordered=True))

In [46]:
df.quality

0         good
1    very good
2         good
3          NaN
Name: quality, dtype: category
Categories (3, object): ['good' < 'very good' < 'excellent']

In [49]:
df.quality.replace(to_replace='NaN', value='excellent')

0         good
1    very good
2         good
3          NaN
Name: quality, dtype: category
Categories (3, object): ['good' < 'very good' < 'excellent']

In [50]:
df

   ID    quality
0   0       good
1   1  very good
2   2       good
3   3        NaN

In [51]:
df.quality.head()

0         good
1    very good
2         good
3          NaN
Name: quality, dtype: category
Categories (3, object): ['good' < 'very good' < 'excellent']